{% extends 'core/dashboardbase.html' %}
{% load static %}

{% block content %}
<div class="alert alert-info">This is the <b>admin dashboard</b> template. If you see this, your template is loading correctly.</div>
<div>
    <h4 class="bg-white px-4 py-3 rounded">Dashboard</h4>
</div>
<div class="row mt-5 w-100 g-4">
    <div class="col-3">
        <div class="p-4 bg-white rounded ">
            <div class="d-flex gap-3 pb-3 align-items-center rose-underline">
                <span class="material-symbols-outlined">class</span>
                <h6 class="m-0">Class Sections</h6>
                <h6 class="m-0 ms-auto">{{ classsection_count }}</h6>
            </div>
            <div class=" pb-4"></div>
        </div>
    </div>
    <div class="col-3">
        <div class="p-4 bg-white rounded">
            <div class="d-flex gap-3 pb-3 align-items-center rose-underline">
                <span class="material-symbols-outlined">groups</span>
                <h6 class="m-0">Students</h6>
                <h6 class="m-0 ms-auto">{{ student_count }}</h6>
            </div>
            <div class=" pb-4"></div>
        </div>
    </div>
    <div class="col-3">
        <div class="p-4 bg-white rounded">
            <div class="d-flex gap-3 pb-3 align-items-center rose-underline">
                <span class="material-symbols-outlined">quiz</span>
                <h6 class="m-0">Exams</h6>
                <h6 class="m-0 ms-auto">{{ exam_count }}</h6>
            </div>
            <div class=" pb-4"></div>
        </div>
    </div>
    <div class="col-3">
        <div class="p-4 bg-white rounded">
            <div class="d-flex gap-3 pb-3 align-items-center rose-underline">
                <span class="material-symbols-outlined">book</span>
                <h6 class="m-0">Subjects</h6>
                <h6 class="m-0 ms-auto">{{ subject_count }}</h6>
            </div>
            <div class=" pb-4"></div>
        </div>
    </div>
</div>
{% endblock %}