{% extends "core/dashboardbase.html" %}
{% block content %}
<div class="container py-4">
  <h2>Manage Classes</h2>
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Add Class</button>
  </form>
  <hr>
  <h4>Existing Classes</h4>
  <ul class="list-group">
    {% for c in classes %}
      <li class="list-group-item">{{ c.name }}</li>
    {% empty %}
      <li class="list-group-item">No classes found.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
